<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AppGSB_PPE"
            connectionString="Data Source=tcp:301P04,49172\SQLEXPRESS;Initial Catalog=bdd_gsb_ppe;Integrated Security=True"
            providerName="System.Data.SqlMecenat" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>