<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GesMecenat"
            connectionString="Data Source=tcp:301P04,49172\SQLEXPRESS;Initial Catalog=bdd_gsb_ppe;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>